#contact{
    padding-top: 50px;
    color: rgb(206, 178, 22);
    height: 80vh;
}

h1 {
    display: inline-block;
    color: rgb(206, 178, 22);
    border-left: 5px solid rgb(206, 178, 22);
    padding-left: 5px;
    margin-left: 150px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;
}

.container {
    display: flex;
    justify-content:space-between;
    padding-left: 100px;
    padding-right: 80px;
    
}

form{
    width: 500px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

label, input, textarea{
    font-size: 20px;
    background-color: rgb(58, 57, 57);
    border-style: none;
    color:  rgb(206, 178, 22);

    border-radius: 3px;
}

input[type="text"],  input[type="email"] {
    width: 500px;
    height: 30px;
}

textarea{
    width: 500px;
    height: 200px;
}

.contacts img{
    height: 27px;
    width: 27px;
}

div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-buttons{
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.social-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: cover;
    transition: transform 0.3s ease-in-out;
}

.facebook {
    background-color:  rgb(206, 178, 22);
    background-image: url('home/Icons/facebook.png'); 
}
.discord {
    background-color:  rgb(206, 178, 22);
    background-image: url('home/Icons/discord.png'); 
}
.github {
    background-color:  rgb(206, 178, 22);
    background-image: url('home/Icons/github.png'); 
}
.linkedin {
    background-color:  rgb(206, 178, 22);
    background-image: url('home/Icons/linkedin.png'); 
}
.tiktok {
    background-color: rgb(206, 178, 22);
    background-image: url('home/Icons/tiktok.png'); 
}
.instagram {
    background-color:  rgb(206, 178, 22);
    background-image: url('home/Icons/instagram.png'); 
}

button{
    padding: 15px 30px;
    background-color: transparent;
    color:   rgb(206, 178, 22);
    border: 3px solid rgb(206, 178, 22);
    font-size: 17px;
    margin-left: 40px;

    transition: transform 0.3s ease-in-out;
}

input[type="submit"] {
    padding: 15px 30px;
    background-color: transparent;
    color:   rgb(206, 178, 22);
    border: 3px solid rgb(206, 178, 22);
    font-size: 17px;

    transition: transform 0.3s ease-in-out;
}

input[type="submit"]:hover ,button:hover{
    transform: scale(1.1);
}



@media screen and (max-width: 480px){
    #contact .container{
        padding: 0 5px;
    }

}

@media screen and (max-width: 768px){
    h1{
        margin-left: 50px;
        margin-bottom: 40px;
    }

    #contact .container{
        flex-direction: column-reverse;
    }

}